.btn {
  margin: 20px auto 0;
  width: fit-content;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0 20px;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 20px;
}

.price {
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap:0  20px;
}

.disabled {
  position: relative;

  &:after {
    content: 'Change';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50);
    border-radius: 5px;
    background-color: red;
    display: none;
  }

  &:hover {
    &:after {
      display: inline-block;
    }
  }
}