h2 {
  margin-bottom: 20px;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

