.header {
  padding: 30px 0;

  & .container {
    display: flex;
    align-items: center;
  }


}

form {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 80px;
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #6C3EB8;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
}

.navigate {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 24px;
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px;
  color: rgb(240, 240, 240, .9);
}

.active {
  color: #6C3EB8;
}

.quantity {
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  padding: 3px;
  width: 15px;
  height: 15px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
}

.box {
  position: absolute;
  top: 100%;
  height: max-content;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: black;
  z-index: 1;
  max-height: 100vh;
  overflow-y: auto;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bag {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {

    &:after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      display: block;
    }

    & .popup {
      height: auto;
      visibility: visible;
    }
  }
}

.popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  border-radius: 5px;
  background-color:#191919;
  z-index: 2;
  padding: 20px;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  margin-top: 10px;
}